{% extends "main/base/base.html" %}
{% load main %}
<!DOCTYPE html>
{% load static %}
{% block main_body %}
<!--========={ Lecture }========-->
<section class="blog_wrapper" style="margin-top: -100px;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                        <div class="blog_post" style="padding-left: 100px; padding-right: 100px;">

                           <h3>{{lecture.name}}</h3>
                           <div class="post_by d-flex justify-content-between" style="border-top:1px solid #ccc; padding-top: 7px;">
                             <span>By- <a href="" title="">Hayden Eastwood</a></span>
                             <span>Python Fundamentals</span>
                            </div>
                          {% autoescape off %}
                          <figure class="image">
                          <div class="line-numbers">
                            {{lecture.content}}
                          </div>
                        </figure>
                          {% endautoescape %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </section>
<!--========={ End Lecture }========-->
{% include 'main/base/includes/navigate_lectures.html' %}
{% endblock %}
